<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
<!-- 加载包到Spring容器
	实体类
	dao类
	service类
 -->
	<context:component-scan base-package="com">
		<context:include-filter type="annotation"
		 expression="org.springframework.stereotype.Component"/>
		<context:include-filter type="annotation"
		 expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="annotation" 
		 expression="org.springframework.stereotype.Service"/>
	</context:component-scan>

<!-- 加载数据源配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>

<!-- 配置dbcp数据源
 -->
 	<bean id="dataSource" 
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
<!-- 事务管理器 JDBC -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean> 	
<!-- 启动声明式事务驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
<!-- spring 通过SQLSessionFactoryBean 获取SQLSessionFactory 工厂类
 -->
 	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 扫描po包，使用别名 -->
		<property name="typeAliasesPackage" value="com.entity"></property>
		<!-- 扫描映射文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
	</bean>

<!-- 配置扫描dao包，动态实现dao接口，注入spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dao"></property>
		<!-- 注意使用SQLSessionFactorybeanName，避免出现spring扫描组件失效问题
		 -->
		 <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

</beans>